<%= form_for(@s_history) do |f| %>
  <% if @s_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@s_history.errors.count, "error") %> prohibited this s_history from being saved:</h2>

      <ul>
      <% @s_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :staff_id %><br>
    <% if current_user.admin? %>
      <%= collection_select( :s_history, :staff_id, Staff.all, :id, :fullname, {}, { :multiple => false}) %>
    <% else %>
      <%= collection_select( :s_history, :staff_id, Staff.where(:id => (Profile.where(:user_id => current_user.id))), :id, :fullname, {}, { :multiple => false}) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :"Date" %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :type_ent_id %><br>
    <% if current_user.admin? %>
      <%= collection_select( :s_history, :type_ent_id, TypeEnt.all, :id, :description, {}, { :multiple => false }) %>
    <% else %>
     <%= collection_select( :s_history, :type_ent_id, TypeEnt.where(:description => "Annual Leave"), :id, :description, {}, { :multiple => false  }) %>
    <% end %>
    
  </div>
  <div class="field">
    <%= f.label :ndays %><br>
    <%= f.number_field :ndays %>
  </div>
  <div class="field">
    <%= f.label :observation %><br>
    <%= f.text_field :observation %>
  </div>
  <div class="actions">
    <%= f.submit 'Create Entry' %>
  </div>
<% end %>
