<p id="notice"><%= notice %></p>

<h1>Listing S Histories</h1>

<div class="media">
  <div class="media-body">
  	<table class="table table-hover">
      <thead>
        <tr>
          <th>Staff</th>
          <th>Hdate</th>
          <th>Type ent</th>
          <th>Ndays</th>
          <th>Observation</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @s_histories.each do |s_history| %>
          <tr>
            <td><%= s_history.staff %></td>
            <td><%= s_history.hdate %></td>
            <td><%= s_history.type_ent %></td>
            <td><%= s_history.ndays %></td>
            <td><%= s_history.observation %></td>
            <td><%= link_to 'Show', s_history, class: 'btn btn-mini' %></td>
            <td><%= link_to 'Edit', edit_s_history_path(s_history), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Destroy', s_history, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New S history', new_s_history_path %>
