<p id="notice"><%= notice %></p>

<h1>Listing Staff Entries - Histories</h1>
<% if current_user.admin? %>
  <div class="row">
    <div class="pull-right range-query">
      <%= form_tag s_histories_path, method: :get do %>
        <%= text_field_tag 'search[date_from]', @search.date_from %>
        <%= text_field_tag 'search[date_to]', @search.date_to %>
        <%= submit_tag 'Search', class: 'btn search-button' %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="media">
  <div class="media-body">
  	<table class="table table-hover">
      <thead>
        <tr>
          <th>Staff</th>
          <th>Date</th>
          <th>Type ent</th>
          <th>Number of days</th>
          <th>Observation</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @s_histories.each do |s_history| %>
          <tr>
            <td><%= s_history.staff.staff_number + ' - ' + s_history.staff.name + ',' + s_history.staff.surname %></td>
            <td><%= s_history.date %></td>
            <td><%= s_history.type_ent.description %></td>
            <td><%= s_history.ndays %></td>
            <td><%= s_history.observation %></td>
            <td><%= link_to 'Show', s_history, class: 'btn btn-mini' %></td>
            <td><%= link_to 'Edit', edit_s_history_path(s_history), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Destroy', s_history, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Staff - history', new_s_history_path %>
