<p id="notice"><%= notice %></p>

<p>
  <strong>Staff:</strong>
  <%= @s_history.staff.name + ',' + @s_history.staff.surname  %>
</p>

<p>
  <strong>Hdate:</strong>
  <%= @s_history.hdate %>
</p>

<p>
  <strong>Type ent:</strong>
  <%= @s_history.type_ent.description %>
</p>

<p>
  <strong>Ndays:</strong>
  <%= @s_history.ndays %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @s_history.observation %>
</p>

<%= link_to 'Edit', edit_s_history_path(@s_history) %> |
<%= link_to 'Back', s_histories_path %>
