<p id="notice"><%= notice %></p>

<p>
  <strong>Initial:</strong>
  <%= @type_ent.initial %>
</p>

<p>
  <strong>Description:</strong>
  <%= @type_ent.description %>
</p>

<%= link_to 'Edit', edit_type_ent_path(@type_ent) %> |
<%= link_to 'Back', type_ents_path %>
